.icon {
    size: 30;
}

.rounded-circle{
    margin: 30px;
}

.input-qty{
    margin: 30px;
    text-align: center;
    font-weight: bold;
}
.addModal{
    background-color: #EEEEEE;
}
.editModal{
    background-color:  #EEEEEE;;
}

.deleteModal{
    background-color:  #EEEEEE;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
 margin: 0; 
}


